@media screen and (max-width:700px){
    header .container {
        display: flex;
        flex-direction: column;
    }   

    .btn{
        margin-top: 5px;
        width: 195px;
        height: 50px;
    }

}

@media screen and (max-width: 500px) {
    header .container {
        display: flex;
        flex-direction: column;
        font-size: 5px;
    }   

    .btn{
        margin-top: 5px;
        width: 155px;
        height: 50px;
    }
    
    .titulo{
        font-size: 30px;
    }
    .descricao{
        width: 50%;
    }
}
