:root {
    --vermelho: #E50914;
    --preto: #141414;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--preto);
    font-family: 'Roboto', sans-serif;
    color: white;
}

html{
    scroll-behavior: smooth;
}
/*Elementos base */

header .container {
    position: fixed;
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #141414;
    width: 100%;
    z-index: 99;
}

header .logo a {
    color: var(--vermelho);
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;
    text-decoration: none;
    margin-left: 10px;
}

header nav a {
    text-decoration: none;
    color: #AAA;
    margin-right: 20px;
    transition: .3s ease all;
    font-size: 18px;
}

header nav a:hover {
    color: #fff;
}

.navBar{
    margin-left: 50px;
}

/*Filme principal*/
.parte-principal .container{
    margin-left: 20px;
}

.parte-principal {
    font-size: 16px;
    background: linear-gradient(rgba(0, 0, 0, .80), rgba(0, 0, 0, .80)100%), url(/img/capa-got.jpg);
    height: 450px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.parte-principal .descricao {
    margin-bottom: 40px;
    margin-top: 10px;
    font-size: 17px;
}

.titulo {
    margin-top: 10%;
    font-size: 50px;
    font-family: 'Trebuchet MS', arial, sans-serif;
}

.btn {
    background-color: rgba(0, 0, 0, .50);
    border: none;
    color: white;
    padding: 15px 30px;
    margin-right: 15px;
    font-size: 12px;
    cursor: pointer;
    border-radius: 4px;
    transition: .3s ease all;
    
}

.btn i{
    margin-right: 8px;
}

.btn:hover {
    background-color: white;
    color: black;
}

/*Carrosel de filmes */
.box-filme{
    max-width:70%;
    max-height: 70%;
    transition: .5s ease all;
    margin: auto;
}

.box-filme:hover{
    max-width: 75%;
    max-height: 75%;
    
}

.sub-titulo{
    margin-left: 20px ;
    padding: 50px 10px 15px 10px;
}


/*Footer*/
.content-footer{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
    padding: 15px;
}

.gitHub, .linkedin{
    font-size: 30px;
    padding: 5px;
 }

 footer a:visited{
     color:white
 };